<!-- components/navbar.html -->
<nav class="navbar">
    <div class="navbar-container">
      <a href="../index.html" class="logo">Elite Cleats</a>
      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/products.html">Cleats</a></li>
        <li><a href="../pages/about.html">About</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
        <li><a href="../pages/login.html">Login</a></li>
        <li><a href="../pages/cart.html">Cart</a></li>
      </ul>
    </div>
  </nav>
  