<!-- components/navbar.html -->
<nav class="navbar">
    <div class="navbar-container">
      <a href="../index.php" class="logo">Elite Cleats</a>
      <ul class="nav-links">
        <li><a href="../index.php">Home</a></li>
        <li><a href="../pages/products.php">Cleats</a></li>
        <li><a href="../pages/about.html">About Us</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
        <li><a href="../pages/login.php">Login</a></li>
        <li><a href="../pages/cart.html">Cart</a></li>
      </ul>
    </div>
  </nav>
  